
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import "./styles/index.scss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  
  margin: 0;
  font-family: 'Ubuntu',sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height:100vh;
}

a{
  color: unset;
  text-decoration: none;
}

